<h1>Bienvenido a Quora</h1>
  <div class="errors">
    <%if @error %>
      <%="los datos son incorrectos"%>
    <%end %>
  </div>

  <div id="cuerpo">
    <form id="form-login" action="/login" method="post" autocomplete="off">
      <p>Email:<input name="user_mail" type="text" placeholder="Email"></p>
      <p>Password:<input name="user_password" type="password" placeholder="Password"></p>
      <p><input type="submit" name="submit" value="Get In" class="boton"></p>
    </form>
  </div>
 
  
           
  