<h1>Bienvenido a Quora</h1>
 <h3>Seleccionar Una Opcion</h3>


 <% if @notlog%>
      <p class= "fail"> **Necesitas hacer log in para entrar.**</p>
 <%end%>
<br>
<br>
 <div class="menu_div">
	<a href="/signup" class="myButton">Create User</a>
	<a href="/login" class="myButton">Login User</a>
</div>


 