<h1>Bienvenido a Sinatra</h1>
 <p>Seleccionar Una Opcion</p>

 <% if @notlog%>
      <p class= "fail"> **Necesitas hacer log in para entrar.**</p>
 <%end%>


 <form action =/signup method="get" font.size=10> 
    <input type = "submit" value = "Create User" />
 </form>


<form action =/login method="get" font.size=10> 
    <input type = "submit" value = "Log in" />
 </form>
     

  