<h1>Welcome to Anagrams!</h1>
<h3>Introduce una palabra<h3>
<br>

<form action="/new_word" method="post">
    <input type="text" name="user_word" placeholder="Word"><br>
    <input type="submit">
</form>	






