  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  <h1>PAGINA INDEX</h1>

  <form action="/cool_url" method="post"> 
    <input type="text" name="post[title]"><br>
    <input type="text" name="post[price]"><br>
    <textarea> name="post[descripcion]"</textarea>
    <input type="submit">
  </form>



 <form action="/cool_url" method="post"> 
    <input type="text" name="nombre"><br>
    <input type="submit">
  </form>

  <form action="/cool_url" method="get"> 
    <input type="text" name="nombre"><br>
    <input type="submit">
  </form>
 
 <form action="/cool_url" method="post">
   <textarea name="text"></textarea>
   <input type="submit" value="enviar">
 </form>

 <form action="/cool_url" method="post">
   <input type="radio" name="uno" value="Milk">Milk<br> 
   <input type="radio" name="uno" value="Butter" checked>butter<br>
   <input type="radio" name="uno" value="cheese">cheese<br>
   <input type="submit" value="enviar">
 </form>

<form action="/cool_url" method="get">
   <input type="checkbox" name="dos" value="Milk">Milk<br> 
   <input type="checkbox" name="dos" value="Butter" checked>butter<br>
   <input type="checkbox" name="dos" value="cheese">cheese<br>
   <input type="submit" value="enviar">
 </form>

 <form action="/cool_url" method="post">
   <select name="elegir">
     <option value="milk">Fresh milk<br>
     <option value="cheese">old cheese<br>
     <option value="bread">hot bread<br>  
   </select>
 </form>   



