<h1>Create Survey</h1>

<div id="email_user"/>
	<p><%=current_user.email%></p>
</div>

  <input type="text" id="last_input" placeholder="Survey"> <input id ="btn_start" type="button" name="start" value="Create Survey">
  <ol type="1" id="dynamicInput">
  </ol>

 
  <input id ="btn_add_question" type="button" name="create_survey" value="Create Question">
  <input id ="btn_done_question" type="button" name="start" value="Done With Question"> <input id ="btn_add_choice" type="button" name="btn_choice" value="Add Choice">
  <br>
  <input id ="btn_complete_survey" type="button" name="create_survey" value="Complete Survey">
 
  <div id="author_quiz"/> 
  	<p>"Authored Surreys:"</p>  	  	
  </div>	