<h3><span>You are logged in as: jamontoyam</span></h3>

  <form method='post' action='/tweet'>
    <input type="text" name="text" placeholder="New Twitter">
    <input type="submit" name="tweet" value="Create Tweet">
  </form>

  <form method='post' action='/fetch'>
    <input type="text" name="username" placeholder="twitter username">
    <input type="submit" name="search" value="See Tweets">
  </form>


  