<% if @user %>
  <form method='get' action='/'>
    <input type='submit' value='Back'>
  </form>

  <h1><span><%= @user.name %></span></h1>
  <ul>
    <% @user.tweets.order(post_date: :desc).each do |tweet| %>
    <li>
      <span><%= tweet.post_date %> </span>
      <%= tweet.text%>
    </li>
    <% end %>
  </ul>
<% end %>