<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
    <meta charset="utf-8">
    <link type="text/css" href="/public/css/application.css" rel="stylesheet" />
</head>
 
<body>
<div id="registrar">
<a href="/"</a>Menu Principal</a>
</div>
    <form id="form-login">
      <p><label >Name:</label></p>
      <input name="user_name" type="text" id="usuario" placeholder="name"></p>
      <p><label >Email:</label></p>
      <input name="user_email" type="text" id="email" placeholder="email"></p>
      <p><label>Password:</label></p>
      <input name="user_password" type="password" id="password" placeholder="password"></p >
      <input type="submit" value="Ingresar" id="ingresar">        
    </form>

<div id="error"><p></p></div>


    </body> 
</html>  











  
