  <h1>Bienvenido a la aplicacion</h1>
  <p>Introduce Url</p>
  <br>
  <form action="/urls" method="post" id="testform">
    <input type = "text" name ="long_url" placeholder="Introduce una Url Valida"><br>
    <input type = "submit">
  </form>
  
  <% if @url %>
     <% if @url.errors.any? %>
       <h2>Errors:</h2>
         <%= @url.errors.messages[:long_url][0]%>       
     <% end %>
  <% end %>
  <div id ="nav" class="nav" style="font-size:15px;" >
    <% if @urls %>
       <% @urls.each do |url| %>
         <br>
         <a href="/urls/<%= url.id %>" target="_blank"><%= "#{url.short_url}"%> </a> <%="#{url.click_count}"%>
       </br>
       <% end  %> 
    <% end %>
  </div>x

