<h1>Bienvenido a la Aplicacion</h2>
<h3>Elige una Opción</h3>

<div id="menu">
  <ul>
     <li>
         <a href ="/signup">No tengo cuenta, quiero registrarme!</a>
     </li> 
     <li>  
         <a href ="/login">deseo inicar sesion!</a>  
     </li>
     <li>  
         <a href ="/urls">No me importa, llevame a la aplicacion!</a>
     </li>
  </ul>
 </div>