<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
    <meta charset="utf-8">
    <link rel="" href="/css/application.css" type="text/css"  />
</head>
 
<body>


<% if @user %>
  <%= @user.name%>
<% end %>     


<form action =/logout method="get" font.size=10> 
    <input type = "submit" value = "Log out" />
 </form>
