<h1>Bienvenido a Sinatra</h1>
 <p>Seleccionar Una Opcion</p>

 <form action =/signup method="get" font.size=10> 
    <input type = "submit" value = "Create User" />
 </form>

<form action =/login method="get" font.size=10> 
    <input type = "submit" value = "Log in" />
 </form>
     

  